{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Detail of" %} {{ model_verbose_name|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Detail of" %} {{ object }}{% endif %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12" style="max-width: 1400px;">
        {% if url_list and 'list' in views_available and crud_perms.list %}
            <a href="{{ url_list }}{{getparams}}">
                <i class="fa fa-angle-double-left"></i>
                {% trans "Back to" %} {{ model_verbose_name_plural|lower }}
            </a>
        {% endif %}
        <br /><br />
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "Detail of" %} {{ object }}</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div style="margin: 15px">
                            <a href="#" id="{{ object.id }}">
                                <img id="img_{{ object.id }}" src="{{ object.imagen_pieza.url }}"  class="rounded float-left" alt="..." style="max-width: 300px; height: 300px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <thead>
                                <th >{{ object.nombre }}</th>
                            </thead>
                            <tbody>
                                {% crud_fields object 'cliente,marco,material,espesor,precalentado,moldeo,enfriado,observaciones' %}
                            </tbody>
                        </table>
                    </div>

                </div>
                 <div class="row">
                {% if object.calefaccion %}
                        <div class="col-md-4" >
                            <table class="table">
                                <thead>
                                <th style="text-align: center;"> Seteo Calefaccion</th>
                                </thead>
                            </table>
                            <div>
                                <a href="#">
                                    <img  src="{{object.calefaccion.url}}"   alt="..." style="display: block; margin: auto;max-width: 250px; height: 250px;">
                                </a>
                            </div>
                        </div>
                {% endif %}
                {% if object.empujador %}
                        <div class="col-md-4"  >
                            <table class="table">
                                <thead>
                                <th style="text-align: center;"> Imagen Empujador</th>
                                </thead>
                            </table>
                            <div >
                                <a href="#">
                                    <img src="{{object.empujador.url }}"  alt="..." style="display: block; margin: auto;max-width: 250px; height: 250px;">
                                </a>
                            </div>
                        </div>
                {% endif %}
                {% if object.sombra %}
                        <div class="col-md-4" >
                            <table class="table" >
                                <thead>
                                    <th style="text-align: center;"> Imagen Sombra</th>
                                </thead>
                            </table>
                            <div>
                                    <img src="{{object.sombra.url }}"  alt="..." style="display: block; margin: auto;max-width: 250px; height: 250px;">
                            </div>
                        </div>

                {% endif %}
                 </div>
                 {% if object.cortes %}
                     <div class="row" style="margin: 10px;width: 100%; background-color: #ccc;font-size: 20px; text-align: center;">
                     Cortes
                     </div>
                     {% for corte in object.cortes.all  %}
                         <div class="row">
                             <div class="col-md-4">
                                 <div style="margin: 15px">
                                     <a id="corte_{{ corte.id }}" href="#">
                                         {% if corte.imagen_ref %}

                                         <img  id="img_corte_{{ corte.id }}" src="{{ corte.imagen_ref.url }}"  alt="..."
                                               style="display: block; margin: auto;max-width: 300px; height: 100px;">
                                         {% endif %}

                                     </a>
                                 </div>
                             </div>
                             <div class="col-md-8">
                                 <table class="table">
                                     <thead>
                                     <th style="width: 20%;">{{ corte.tipo_corte }}</th>
                                     </thead>
                                     <tbody>
                                     {% crud_fields corte 'detalle ,altura,tiempo' %}
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     {% endfor %}
                 {% endif %}


                 {% if object.rebabados %}

                     <div class="row" style="margin: 10px;width: 100%; background-color: #ccc;font-size: 20px; text-align: center;">
                     Rebabado
                     </div>
                     {% for rebabado in object.rebabados.all  %}
                         <div class="row">
                             <div class="col-md-4">
                                 <div style="margin: 15px">
                                     <a id="rebabado_{{ rebabado.id }}" href="#">
                                         {% if rebabado.imagen_ref %}

                                         <img  id="img_rebabado_{{ rebabado.id }}" src="{{ rebabado.imagen_ref.url }}"  alt="..."
                                               style="display: block; margin: auto;max-width: 300px; height: 100px;">
                                         {% endif %}
                                     </a>
                                 </div>
                             </div>
                             <div class="col-md-8">
                                 <table class="table">
                                     <thead>
                                     <th style="width: 20%;">{{ rebabado.herramienta }}</th>
                                     </thead>
                                     <tbody>
                                     {% crud_fields rebabado 'detalle' %}
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     {% endfor %}
                 {% endif %}

                 {% if object.pegamentos %}

                     <div class="row" style="margin: 10px;width: 100%; background-color: #ccc;font-size: 20px; text-align: center;">
                     Pegamento
                     </div>
                     {% for pegamento in object.pegamentos.all  %}
                         <div class="row">
                             <div class="col-md-4">
                                 <div style="margin: 15px">
                                     <a href="#" id="pegamento_{{ pegamento.id }}">
                                         {% if pegamento.imagen_ref %}

                                         <img  id="img_pegamento_{{ pegamento.id }}" src="{{ pegamento.imagen_ref.url }}"  alt="..."
                                               style="display: block; margin: auto;max-width: 300px; height: 100px;">
                                         {% endif %}
                                     </a>
                                 </div>
                             </div>
                             <div class="col-md-8">
                                 <table class="table">
                                     <thead>
                                     <th style="width: 20%;">{{ pegamento.tipo_pegamento }}</th>
                                     </thead>
                                     <tbody>
                                     {% crud_fields pegamento 'detalle' %}
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     {% endfor %}
                 {% endif %}
                     {% if object.embalajes %}
                     <div class="row" style="margin: 10px;width: 100%; background-color: #ccc;font-size: 20px; text-align: center;">
                     Embalaje
                     </div>
                     {% for embalaje in object.embalajes.all  %}
                         <div class="row">
                             <div class="col-md-4">
                                 <div style="margin: 15px">
                                     <a href="#" id="embalaje_{{ embalaje.id }}">
                                         {% if embalaje.imagen_ref %}
                                         <img  id="img_embalaje_{{ embalaje.id }}"src="{{ embalaje.imagen_ref.url }}"  alt="..."
                                               style="display: block; margin: auto;max-width: 300px; height: 100px;">
                                         {% endif %}
                                     </a>
                                 </div>
                             </div>
                             <div class="col-md-8">
                                 <table class="table">
                                     <thead>
                                     <th style="width: 20%;">{{ embalaje.tipo_embalaje }}</th>
                                     </thead>
                                     <tbody>
                                     {% crud_fields embalaje 'detalle ,piezas_bulto' %}
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     {% endfor %}
                 {% endif %}

                 </div>
            </div>



            {% if url_update and 'update' in views_available and crud_perms.update %}
            <div class="box-header">
                <a href="{{ url_update }}{{getparams}}" class="btn btn-primary" >{% trans "Edit" %}</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
    <!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" style="display: block; margin: auto;width: 480px; " >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
         $("a").on("click", function(e) {
             e.preventDefault()
             console.log($('#'+e.target.id).attr('src'));
             $('#imagepreview').attr('src', $('#'+e.target.id).attr('src')); // here asign the image to the modal when the user click the enlarge link
                $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function

        });

        </script>



{% endblock %}
